<% form_remote_tag :url => '/link/add_link' do -%>
	<div id="buttons">
		<input type="button" class="admin-button2" value="Link Info"/>
		<span style="margin-left: 60px; text-align:right;"><%= submit_tag 'Submit' %>&nbsp;&nbsp;<input type="button" onclick="$j('#link_edit').jqm().hide()" value="Cancel"/></span>
	</div>
	<h3>Link:</h3>
	<p><label for="link_name">LINK NAME:</label><br/>
	<%= text_field_tag 'link_name', @link.link_name %></p>

	<p><label for="url">LINK URL:</label><br/>
	<%= text_field_tag 'url', @link.url %></p>
	<%= hidden_field_tag 'id', @link.id %></p>
<% end -%>
