<% form_for :pdf_doc, :url => {:controller => 'pdf_doc', :action => 'add_pdf'}, 
	:html => { :multipart => true} do |form| -%>
	<div id="buttons">
		<input type="button" class="admin-button2" value="Doc Info"/>
		<span style="margin-left: 60px; text-align:right;"><%= submit_tag 'Submit' %>&nbsp;&nbsp;<input type="button" onclick="$j('#pdf_edit').jqm().hide()" value="Cancel"/></span>
	</div>
	<h3>Document Management:</h3>
	<p><label for="pdf_name">DOC NAME:</label><br/>
	<%= form.text_field :pdf_name %></p>

	<p><label for="uploaded_file">DOC PATH:</label><br/>
	<%= form.file_field 'uploaded_file' %></p>
	<%= form.hidden_field :id %></p>
<% end -%>
