<h1>Listing client_documents</h1>

<table>
  <tr>
  <% for column in ClientDocument.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for client_document in @client_documents %>
  <tr>
  <% for column in ClientDocument.content_columns %>
    <td><%=h client_document.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => client_document %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => client_document %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => client_document }, :confirm => 'Are you sure?', :method => :post %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @client_document_pages.current.previous } if @client_document_pages.current.previous %>
<%= link_to 'Next page', { :page => @client_document_pages.current.next } if @client_document_pages.current.next %> 

<br />

<%= link_to 'New client_document', :action => 'new' %>
