<h1>New Client Document</h1>

<% form_for :client_document, :url => {:controller => 'client_documents', :action => 'create'}, :html => { :multipart => true} do |form| -%>
	<%= error_messages_for 'client_document' %>

	<p>
		<label for="client_document_company">Client</label><br/>
		<%= @company_client.client_id %>
		<%= hidden_field_tag :client_id, @company_client.id %></p>
	</p>
	<p><label for="client_document_doc_name">Doc name</label><br/>
	<%= form.text_field :doc_name  %></p>

	<p><label for="client_document_doc_content">Select File:</label><br/>
	<%= form.file_field 'uploaded_file' %>
	</p>
	<%= submit_tag "Create" %>
<% end -%>

<%= link_to 'Back', :controller => 'company_clients', :action => 'show', :id => @company_client %>
