<% for column in ClientDocument.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @client_document.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @client_document %> |
<%= link_to 'Back', :action => 'list' %>
