	<table>
		<tr>
			<th>Class Name</th>
			<th>Internal Name</th>
			<th>Class URL</th>
			<th>Section</th>
			<th>Header</th>
			<th>Display Order</th>
			<th>Default Class</th>
			<th>Trial Class</th>
			<th>Eddy Award</th>
			<th>Bolded</th>
			<th>Actions</th>
		</tr>
		<% @planning_classes.each do |pc| %>
			<tr id="class_row_<%=pc.id%>">
				<td><%= pc.class_name %></td>
				<td><%= pc.admin_name %></td>
				<td><%= pc.class_url %></td>
				<td><%= pc.section %></td>
				<td><%= pc.header %></td>
				<td><%= pc.display_sequence %></td>
				<td><%= pc.default_class_flag %></td>
				<td><%= pc.free_trial_flag %></td>
				<td><%= pc.eddy_award %></td>
				<td><%= pc.display_in_bold %></td>
				<td>
					<%= link_to "Delete", {:controller => "planning_class", :action => "delete_class", :planning_class_id => pc.id }, :confirm => "Are you sure you want to delete this class?", :method => :delete %>
					&nbsp;
					<%= link_to_remote "Edit", :url => {:controller => "planning_class", :action => "edit_class", :class_id => pc.id, :page => @planning_class_pages.current.number }, :complete => "$j('#class_edit').jqm().show()" %>
				</td>
			</tr>
		<% end %>
	</table>
		Showing Page <%= @planning_class_pages.current.number %> of <%= @planning_class_pages.page_count %><br/>
	<% pagination_links_each(@planning_class_pages, {:link_to_current_page => true}) do |number| %>
	<%= link_to_remote number, { :url => { :action => :index, :page => number, :tab => "2" } } %>
	<% end %>
