<div id="planningClasses" style="display:none;">
	<div id="class_edit" class="jqmWindow">
	</div>
	<div class="admin-section">
		<div>
			<h3>Classes:</h3>
			<table id="search-fields" border="0" cellspacing="0" cellpadding="0" width="100%">
				<tr>
					<td nowrap="true">
					<% form_remote_tag :url => '/planning_class/find_class' do -%>
						<p><label for="ident">Class:</label></p>
						<%= text_field_tag 'search_text', session[:search_text] %>
							<%=  submit_tag 'Find' %><br/><br/>
						<% end %>
					</td>
					<td width="100%" align="right">
						<strong><%= link_to_remote "Add Class", :url => {:controller => "planning_class", :action => "edit_class"}, :complete => "$j('#class_edit').jqm().show()" %></strong>
					</td>
				</tr>
			 </table>
		</div>
		<div id="class_list">
			<%= render :partial => "classes_list" %>
		</div>
	</div>
</div>
