<div id="companies" class="admin-section">
	<script type="text/javascript">
		//<![CDATA[
		function showCompTab(){
			$('edit_company_tab').show();
			$('edit_comp_class_tab').hide();
			$('edit_comp_doc_tab').hide();
			$('edit_comp_link_tab').hide();
		}
		function showClassesTab(){
			$('edit_company_tab').hide();
			$('edit_comp_class_tab').show();
			$('edit_comp_doc_tab').hide();
			$('edit_comp_link_tab').hide();
		}
		function showDocTab(){
			$('edit_company_tab').hide();
			$('edit_comp_class_tab').hide();
			$('edit_comp_doc_tab').show();
			$('edit_comp_link_tab').hide();
		}
		function showLinkTab(){
			$('edit_company_tab').hide();
			$('edit_comp_class_tab').hide();
			$('edit_comp_doc_tab').hide();
			$('edit_comp_link_tab').show();
		}
		//]]>
	</script>
	<div class="admin-section">
		<div>
			<h3>Companies:</h3>
			<table id="search-fields" border="0" cellspacing="0" cellpadding="0" width="100%">
				<tr>
					<td nowrap="true">
					<% form_tag('/company/find_company') do -%>
						<p><label for="ident">Company ID:</label></p>
						<%= text_field_tag 'company_identifier', session[:company_identifier] %>
							<%=  submit_tag 'Find' %><br/><br/>
						<% end %>
					</td>
					<td nowrap="true">
					<% form_tag('/company/find_company_name') do -%>
						<p><label for="ident">Company Name:</label></p>
						<%= text_field_tag 'company_name', session[:company_name] %>
							<%=  submit_tag 'Find' %><br/><br/>
						<% end %>
					</td>
					<td width="100%" align="right">
						<strong><%= link_to_remote "Add Company", :url => {:controller => "company", :action => "edit_company"}, :complete => "$j('#company_edit').jqm().show()" %></strong>
						<div id="company_edit" class="jqmWindow" style="text-align:left";>
						</div>
					</td>
				</tr>
			 </table>
		</div>
		<div id="company_list">
			<%= render :partial => "companies_list" %>
		</div>
</div>
<% if !@subscribers.nil? && @subscribers.size > 0 %>
<div class="admin-section">
		<h3>Subscribers:</h3>
		<table>
			<tr><th>Email</th><th>Actions</th></tr>
			<% @subscribers.each do |sub| %>
				<tr>
					<td><%= sub.email %></td>
					<td>
						<%= link_to "Delete", {:controller => "company", :action => "delete_subscriber", :subscriber_id => sub.id, :company_for_subs_id => sub.company_id }, :confirm => "Are you sure you want to delete this subscriber?", :method => :delete %>
					</td>
				</tr>
			<% end %>
		</table>
</div>
<% end %>
<% if !@classes.nil? && @classes.size > 0 %>
<div class="admin-section">
		<h3>Custom Classes:</h3>
		<table>
			<tr><th>Class Name</th><th>Hidden?</th><th>Actions</th></tr>
			<% @classes.each do |clz| %>
				<% if clz.planning_class != nil %>
					<tr>
						<td><%= clz.planning_class.class_name %></td>
						<td><%= clz.hidden_flag %></td>
						<td>
							<%= link_to "Remove", {:controller => "company", :action => "remove_class", :class_id => clz.planning_class.id, :company_for_class_id => flash[:company_for_class_id] }, :confirm => "Are you sure you want to remove this class from this company?", :method => :delete %>
							<br/>
							<%= link_to "Toggle Visibility", {:controller => "company", :action => "toggle_visibility", :class_id => clz.planning_class.id, :company_for_class_id => flash[:company_for_class_id] } %>
						</td>
					</tr>
				<% end %>
			<% end %>
		</table>
</div>
<% end %>
</div>

  <script type="text/javascript">
		//<![CDATA[
		$j().ready(function() {
			$j('#company_edit').jqm()
			})
		//]]>
  </script>
