	<table width="100%">
		<tr>
			<th>Company Name</th>
			<th>Company ID</th>
			<th>For Employee</th>
			<th>Free Trial</th>
			<th>On Demand URL</th>
			<th>Actions</th>
		</tr>
		<% @companies.each do |company| %>
			<tr id="comp_row_<%=company.id%>">
				<td><%= company.name %></td>
				<td><%= company.identifier %></td>
				<td><%= company.employee_flag %></td>
				<td><%= company.free_trial_flag %></td>
				<td><%= company.override_on_demand_url %></td>
				<td>
					<%= link_to "Delete", {:controller => "company", :action => "delete_company", :company_id => company.id }, :confirm => "Are you sure you want to delete this company?", :method => :delete %>
					<br/>
					<%= link_to_remote "Edit", :url => {:controller => "company", :action => "edit_company", :company_id => company.id, :page => @company_pages.current.number }, :complete => "$j('#company_edit').jqm().show()" %>
					<br/>
					<%= link_to "Show Subscribers", {:controller => "company", :action => "show_subscribers", :company_for_subs_id => company.id } %>
					<br/>
					<%= link_to "Show Classes", {:controller => "company", :action => "show_classes", :company_for_class_id => company.id } %>
				</td>
			</tr>
		<% end %>
	</table>
	Showing Page <%= @company_pages.current.number %> of <%= @company_pages.page_count %><br/>
<% pagination_links_each(@company_pages, {:link_to_current_page => true}) do |number| %>
<%= link_to_remote number, { :url => {:controller => "admin", :action => :index, :page => number, :tab => "1" } } %>
<% end %>
