	<h3>Add/Edit Links:</h3>
	<table>
		<tr><th>Link Name</th><th>Link URL</th><th>Actions</th></tr>
		<% @links.each do |link| %>
			<tr id="link_row_<%=link.id%>">
				<td><%= link.link_name %></td>
				<td><%= link.url %></td>
				<td>
					<%= link_to "Delete", {:controller => 'link', :action => "delete_link", :link_id => link.id }, :confirm => "Are you sure you want to delete this link?", :method => :delete %>
					&nbsp;
					<%= link_to_remote "Edit", :url => {:controller => "link", :action => "edit_link", :link_id => link.id }, :complete => "$j('#link_edit').jqm().show()" %>
				</td>
			</tr>
		<% end %>
	</table>
	Showing Page <%= @link_pages.current.number %> of <%= @link_pages.page_count %><br/>
<% pagination_links_each(@link_pages, {:link_to_current_page => true}) do |number| %>
<%= link_to_remote number, { :url => { :action => :index, :page => number, :tab => "4" } } %>
<% end %>
