
<div id="links"  style="display:none;">
	<div id="link_edit" class="jqmWindow">
	</div>
	<div class="admin-section">
		<div>
			<h3>Links:</h3>
			<table id="search-fields" border="0" cellspacing="0" cellpadding="0" width="100%">
				<tr>
					<td nowrap="true">
					<% form_remote_tag :url => '/link/find_link' do -%>
						<p><label for="ident">Link:</label></p>
						<%= text_field_tag 'search_text', session[:search_text] %>
							<%=  submit_tag 'Find' %><br/><br/>
						<% end %>
					</td>
					<td width="100%" align="right">
						<strong><%= link_to_remote "Add Link", :url => {:controller => "link", :action => "edit_link"}, :complete => "$j('#link_edit').jqm().show()" %></strong>
					</td>
				</tr>
			 </table>
		</div>
		<div id="link_list">
			<%= render :partial => "link_list" %>
		</div>
	</div>
</div>
