
<div id="pdfs"  style="display:none;">
	<div id="pdf_edit" class="jqmWindow">
	</div>
	<div class="admin-section">
		<div>
			<h3>Documents:</h3>
			<table id="search-fields" border="0" cellspacing="0" cellpadding="0" width="100%">
				<tr>
					<td nowrap="true">
					<% form_remote_tag :url => '/pdf_doc/find_document' do -%>
						<p><label for="ident">Document:</label></p>
						<%= text_field_tag 'search_text', session[:search_text] %>
							<%=  submit_tag 'Find' %><br/><br/>
						<% end %>
					</td>
					<td width="100%" align="right">
						<strong><%= link_to_remote "Add Document", :url => {:controller => "pdf_doc", :action => "edit_pdf"}, :complete => "$j('#pdf_edit').jqm().show()" %></strong>
					</td>
				</tr>
			 </table>
		</div>
		<div id="pdf_list">
			<%= render :partial => "pdfs_list" %>
		</div>
	</div>
</div>
