	<h3>Add/Edit Documents:</h3>
	<table>
		<tr><th>Doc Name</th><th>File Name</th><th>Type</th><th>Actions</th></tr>
		<% @pdfs.each do |pdf| %>
			<tr id="doc_row_<%=pdf.id%>">
				<td><%= pdf.pdf_name %></td>
				<td><%= pdf.file_name %></td>
				<td><%= pdf.doc_type %></td>
				<td>
					<%= link_to "Delete", {:controller => 'pdf_doc', :action => "delete_pdf", :pdf_doc_id => pdf.id }, :confirm => "Are you sure you want to delete this pdf?", :method => :delete %>
					&nbsp;
					<%= link_to_remote "Edit", :url => {:controller => "pdf_doc", :action => "edit_pdf", :pdf_id => pdf.id }, :complete => "$j('#pdf_edit').jqm().show()" %>
				</td>
			</tr>
		<% end %>
	</table>
	Showing Page <%= @pdf_pages.current.number %> of <%= @pdf_pages.page_count %><br/>
<% pagination_links_each(@pdf_pages, {:link_to_current_page => true}) do |number| %>
<%= link_to_remote number, { :url => { :action => :index, :page => number, :tab => "3" } } %>
<% end %>
