<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>
			Disckover401k Admin Dashboard
		</title>
		<%= javascript_include_tag :defaults %>
		<%= stylesheet_link_tag "project" %>
		<%= javascript_include_tag "jquery" %>
		<%= javascript_include_tag "jqModal" %>
		<script type="text/javascript">
		//<![CDATA[
		var $j = jQuery.noConflict();
		//]]>
		</script>
	</head>
	<body style="overflow: auto;">
        <div><a href="/home"><img src="images/logo.gif" alt="discover401k.com" width="255" height="98" border="0" /></a><img src="images/quote01.gif" alt="The question" width="275" height="98" border="0" /><img src="images/quote02.gif" width="268" height="98" border="0" /></div>
    	<div id="msgs" align="center" class="error">
    	<% if flash[:notice] %>
    		<%= flash[:notice]%>
		    <SCRIPT type="text/javascript">  
		      <%= visual_effect :highlight, 'msgs', :startcolor => "'#ffff00'", :endcolor => "'#ccd5d8'", :duration => 3.0 %>  
		    </SCRIPT>          		
    	<% end %>
    	<% if flash[:errors] %>
	    	<% flash[:errors].each_full() do |msg| %>
	    		<p>- <%= msg %></p>
	    	<% end %>
		    <SCRIPT type="text/javascript">  
		      <%= visual_effect :highlight, 'msgs', :startcolor => "'#ffff00'", :endcolor => "'#ccd5d8'", :duration => 3.0 %>  
		    </SCRIPT>          		
    	<% end %>
    	</div>
    	
        		<script type="text/javascript">
        			//<![CDATA[
        			function doCompanyTab(){
        				$('companies').show();
        				$('planningClasses').hide();
        				$('pdfs').hide();
        				$('links').hide();
        			}
        			function doClassesTab(){
        				$('companies').hide();
        				$('planningClasses').show();
        				$('links').hide();
        				$('pdfs').hide();
        			}
        			function doPdfTab(){
        				$('companies').hide();
        				$('planningClasses').hide();
        				$('pdfs').show();
        				$('links').hide();
        			}
        			function doLinkTab(){
        				$('companies').hide();
        				$('planningClasses').hide();
        				$('pdfs').hide();
        				$('links').show();
        			}
        			//]]>
        		</script>
    	
    	<div id="buttons">
    		<input type="button" class="admin-button" value="Companies" onclick="doCompanyTab();"/>
    		<input type="button" class="admin-button" value="Planning Classes" onclick="doClassesTab();"/>
    		<input type="button" class="admin-button" value="Documents" onclick="doPdfTab();"/>
    		<input type="button" class="admin-button" value="Links" onclick="doLinkTab();"/>
			<%= link_to "Client Documents", {:controller => "company_clients", :action => "index" } %>
    	</div>
    	<div class="admin-content">
		<%= render :partial => "companies" %>

		<%= render :partial => "classes" %>

		<%= render :partial => "pdf" %>

		<%= render :partial => "link" %>
		</div>
				
		<script type="text/javascript">
			//<![CDATA[
			<%= "doCompanyTab();" if flash[:tab] == 1 %>
			<%= "doClassesTab();" if flash[:tab] == 2 %>
			<%= "doPdfTab();" if flash[:tab] == 3 %>
			<%= "doLinkTab();" if flash[:tab] == 4 %>
			//]]>
		</script>
		
	</body>
</html>