body {
	background-color: #ccd5d8;
	background-image: url(../images/background.jpg);
	background-repeat: repeat;
}
.admin-section {
	float: left;
	margin-right: 5px;
	margin-left: 5px;
	overflow: auto;
	font-size: 12px;
}
.admin-section #search-fields {
	background-image: url(../images/background.jpg);
	border-style: none; 
	border-width: 0;
	border-spacing: 0;
	background-color: #ccd5d8;
}
.admin-section #search-fields td {
	background-image: url(../images/background.jpg);
	border-style: none; 
	border-width: 0;
	border-spacing: 0;
	background-color: #ccd5d8;
}
.admin-section table {
	border-style: solid; 
	border-color: white;
	border-width: 1px;
	border-spacing: 0;
	background-color: #a7b5bd;
}
.admin-content {
	border-style: solid; 
	border-color: white;
	border-width: 1px;
	border-spacing: 0;
}
.admin-section table td {
	border-style: solid; 
	border-color: white;
	border-width: 1px;
	font-size: 12px;
	padding: 4px 4px 4px 4px;
}

.admin-section table th {
	border-style: solid; 
	border-color: white;
	border-width: 1px;
	font-size: 12px;
	padding: 4px 4px 4px 4px;
}

.admin-button {
	border-style: solid; 
	border-color: white;
	border-width: 1px;
	font-size: 12px;
	padding: 4px 4px;
	cursor: pointer;
	margin-right: 5px;
	margin-left: 5px;
}

.admin-button2 {
	border-style: solid; 
	border-color: black;
	border-width: 1px;
	font-size: 12px;
	cursor: pointer;
	background-color: #a7b5bd;
}

.white-table {
	border-style: solid; 
	border-color: white;
	border-width: 1px;
}

.inner-white-table td {
	border-style: solid; 
	border-color: white;
	border-width: 1px;
}

.style2 {
	font-size: 9px;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
}
.style3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #384858;
	margin-right: 30px;
	margin-left: 30px;
	text-align: left;
}
.trial-style-text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #384858;
	margin-right: 30px;
	margin-left: 30px;
	text-align: left;
}
.header-text {
	font-family: Garamond, serif;
	font-style: italic;
	font-size: 12pt;
	color: #384858;
	text-align: left;
	margin-right: 30px;
	margin-left: 30px;
}
.header-non-ital-text {
	font-family: Garamond, serif;
	font-size: 12pt;
	color: #384858;
	text-align: left;
	margin-right: 30px;
	margin-left: 30px;
}
.style5 {font-size: 10px; color: #384858; font-family: Arial, Helvetica, sans-serif; }
.style4 {
	font-size: 12px; color: #384858; font-family: Arial, Helvetica, sans-serif; 
	text-align: left;
}
.style4_1 {
	font-size: 10px; color: #384858; font-family: Arial, Helvetica, sans-serif; 
	text-align: left;
}
a:link {
	color: #384858;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #777c82;
}
a:hover {
	text-decoration: underline;
	color: a5c352;
}
a:active {
	text-decoration: none;
}
.style8 {font-family: Georgia, "Times New Roman", Times, serif; font-size: 12pt; color: #384858; }
.style9 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #384858;
	margin-right: 10px;
	margin-left: 30px;
	line-height: 16pt;
	text-align: left;
}
.list-style {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #384858;
	list-style-type: disc;
	line-height: 16pt;
	margin-right: 10px;
}
body,td,th {
	color: #384858;
}
.style10 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: white;
	margin-top: 5px;
	display: block;
}
.free-style-white-text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: white;
	margin-top: 5px;
	display: block;
}
.style11 {
	font-size: 9pt;
	font-style: italic;
}
.style12 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 14pt;
}

.jqmWindow {
    display: none;
    
    position: fixed;
    top: 17%;
    left: 50%;
    
    margin-left: -300px;
    width: 600px;
    
    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}

.jqmOverlay { background-color: #000; }

#Stuff for the HTML Calcs
body p center table {
	display: none;
	visibility: hidden;
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */ 
* html #peo-header {
	margin-bottom:-5px;	
}

.peo-admin tr td table tr td{
	padding-right: 25px;
}
.peo-admin tr td h2, .peo-admin tr td h3, .peo-admin tr td p{
	padding-left: 15px;
}

.peo-admin tr td textarea, .peo-admin tr td form input{
	margin-left: 30px;
}