<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<META NAME="Keywords" CONTENT="401k, United 401k Plans, Discover401k, Discover 401k, 401k Education, Retirement, Retirement Help, Retirement Education, 401k information for employees, 401k information for employers">
<title>PEO Admin |  401k Education You Can Use</title>
<%= javascript_include_tag :defaults %>
<%= stylesheet_link_tag "project" %>
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" bordercolor="white">
  <tr>
    <td align="center" valign="middle"><p>&nbsp;</p>
      <p>&nbsp;</p>
      <table width="801" height="100%" border="1" cellpadding="0" cellspacing="0" style="border-style: solid; border-color: white;">
      <tr>
        <td height="98" align="center" valign="middle" style="border-style: solid; border-color: white;">
        	<a href="/peo_admin">
				<img src="/peo/get_company_logo/<%=@company.id-%>" border="0" id="peo-header"/>
			</a>
        </td>
      </tr>
      <tr>
        <td height="23" style="border-style: solid; border-color: white;">
        	&nbsp;
        	<div id="msgs" align="center" class="error">
        	<% if flash[:notice] %>
        		<%= flash[:notice]%>
			    <SCRIPT type="text/javascript">  
			      <%= visual_effect :highlight, 'msgs', :startcolor => "'#ffff00'", :endcolor => "'#ccd5d8'", :duration => 3.0 %>  
			    </SCRIPT>          		
        	<% end %>
        	</div>
        </td>
      </tr>
      <tr>
        <td height="100%" style="border-style: solid; border-color: white;">
		<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="white" class="peo-admin">
          <tr>
            <td bgcolor="#FFFFFF">
            	<p class="style9">
	              	<h2>PEO Admin Configuration</h2>
				</p>
				<% form_for :company, :url => {:controller => 'peo_admin', :action => 'save_peo'}, 
					:html => { :multipart => true} do |form| -%>
	            	<p class="style9">
						<h3>PEO Information</h3>
		              	<label for="name" class="style9">Name:</label>
		              	<%= @company.name %><br/>
		              	<label for="url" class="style9">URL:</label>
		              	<%= @company.company_url %><br/>
		              	<label for="url" class="style9">Disclosure Statement:</label>
						<%= form.text_area :disclosure, {:cols => 80, :rows => 4 } %></p>
						<%= form.hidden_field :id %>
					</p>
					<br/><br/>
					<%= submit_tag 'Update Info' %>
				<% end -%>
				<br/>
				<hr/>
				<br/>
            	<p>
	              	<h3>Current Forms</h3>
					<table class="style9">
						<tr>
							<td><strong>Form Name</strong></td>
							<td><strong>Actions</strong></td>
						</tr>
					<% @company.pdf_docs.each do |doc| %>
						<tr>
							<td>
								<%= doc.pdf_name %>
							</td>
							<td>
								<%= link_to "Delete", {:controller => "peo_admin", :action => "delete_doc", :company_id => @company.id, :form_id => doc.id }, :confirm => "Are you sure you want to delete this Form?", :method => :delete %>
							</td>
						</tr>
					<% end %>
					</table>
					<br/>
					<h3>Add New Form</h3>
					<% form_for :pdf_doc, :url => {:controller => 'peo_admin', :action => 'add_form'}, 
						:html => { :multipart => true} do |form| -%>
						<label for="pdf_name" class="style9">Form Name:</label><br/>
						<%= form.text_field :pdf_name %><br/><br/>

						<label for="uploaded_file" class="style9">Form Path:</label><br/>
						<%= form.file_field 'uploaded_file' %><br/>
						<%= hidden_field_tag :company_id, @company.id %>
						<%= submit_tag 'Add Form' %>
					<% end -%>
				</p>
				<br/>
				<hr/>
				<br/>
            	<p>
	              	<h3>Current Links</h3>
					<table class="style9">
						<tr>
							<td><strong>Link Name</strong></td>
							<td><strong>URL</strong></td>
							<td><strong>Actions</strong></td>
						</tr>
					<% @company.links.each do |link| %>
						<tr>
							<td>
								<%= link.link_name %>
							</td>
							<td>
								<%= link.url %>
							</td>
							<td>
								<%= link_to "Delete", {:controller => "peo_admin", :action => "delete_link", :company_id => @company.id, :link_id => link.id }, :confirm => "Are you sure you want to delete this Link?", :method => :delete %>
							</td>
						</tr>
					<% end %>
					</table>
					<br/>
					<h3>Add New Link</h3>
					<% form_for :link, :url => {:controller => 'peo_admin', :action => 'add_link'}, 
						:html => { :multipart => true} do |form| -%>
						<label for="link_name" class="style9">Link Name:</label><br/>
						<%= form.text_field :link_name %><br/><br/>

						<label for="link_name" class="style9">URL:</label><br/>
						<%= form.text_field :url %><br/><br/>
						<%= hidden_field_tag :company_id, @company.id %>
						<%= submit_tag 'Add Link' %>
					<% end -%>
				</p>
				<br/>
				<hr/>
				<br/>
            	<p>
	              	<h3>Employee Use and Emails</h3>
					<table class="style9">
						<tr>
							<td><strong>Employee Email</strong></td>
							<td><strong>Last Logged In</strong></td>
						</tr>
					<% @company.subscribers.each do |sub| %>
						<tr>
							<td><%= sub.email %></td>
							<td><%= sub.login_date_formatted %></td>
						</tr>
					<% end %>
					</table>
				</p>
            </td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td style="border-style: solid; border-color: white;" height="31"><table width="100%" height="31" border="0" cellpadding="0" cellspacing="0" bordercolor="white">
          <tr>
            <td align="left" valign="middle"><span class="style2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy;2008 United 401k Plans, Inc.</span></td>
            <td>
				<div align="right">
					<span class="style5">
					</span>
				</div>
			</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
