<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<META NAME="Keywords" CONTENT="401k, United 401k Plans, Discover401k, Discover 401k, 401k Education, Retirement, Retirement Help, Retirement Education, 401k information for employees, 401k information for employers">
<title>PEO Admin |  401k Education You Can Use</title>
<%= javascript_include_tag :defaults %>
<%= stylesheet_link_tag "project" %>
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" bordercolor="white">
  <tr>
    <td align="center" valign="middle"><p>&nbsp;</p>
      <p>&nbsp;</p>
      <table width="801" height="100%" border="1" cellpadding="0" cellspacing="0" style="border-style: solid; border-color: white;">
      <tr>
        <td height="98" align="center" valign="middle" style="border-style: solid; border-color: white;">
        	<a href="/peo_admin">
				<img src="/peo/get_company_logo/<%=@company.id-%>" border="0" id="peo-header"/>
			</a>
        </td>
      </tr>
      <tr>
        <td height="23" style="border-style: solid; border-color: white;">
        	&nbsp;
        	<div id="msgs" align="center" class="error">
        	<% if flash[:notice] %>
        		<%= flash[:notice]%>
			    <SCRIPT type="text/javascript">  
			      <%= visual_effect :highlight, 'msgs', :startcolor => "'#ffff00'", :endcolor => "'#ccd5d8'", :duration => 3.0 %>  
			    </SCRIPT>          		
        	<% end %>
        	</div>
        </td>
      </tr>
      <tr>
        <td height="100%" style="border-style: solid; border-color: white;"><table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="white">
          <tr>
            <td bgcolor="#FFFFFF"><p class="style3"><br />
              <br />
  Login to Administer your PEO configuration. </p>
            <form method="post" action="/peo_admin/admin">
            <td width="166" bgcolor="#a7b5bd" style="padding: 1px 1px 1px 10px;" align="left"><!--<img src="images/login01.gif" alt="login" name="LoginBelow" width="268" height="117" border="0" id="LoginBelow" /><br /> -->
              <em>Admin Login</em>
              	<label for="username" class="style10">Username:</label>
              	<%= text_field_tag :username, nil, :size => 20 %><br/>
              	<label for="password" class="style10">Password:</label>
              	<%= password_field_tag :password, nil, :size => 20 %><br/>
              	<p><%= image_submit_tag("/images/Go_button.gif") %></p>
				<%= hidden_field_tag 'company_id', flash[:company_id] %></p>              
            </td>
            <td bgcolor="#a7b5bd">
            	<%= image_tag("/images/phil_loginsection.gif") %>
            </td>
        	</form>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td style="border-style: solid; border-color: white;" height="31"><table width="100%" height="31" border="0" cellpadding="0" cellspacing="0" bordercolor="white">
          <tr>
            <td align="left" valign="middle"><span class="style2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy;2008 United 401k Plans, Inc.</span></td>
            <td>
				<div align="right">
					<span class="style5">
					</span>
				</div>
			</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
