<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<META NAME="Keywords" CONTENT="401k, United 401k Plans, Discover401k, Discover 401k, 401k Education, Retirement, Retirement Help, Retirement Education, 401k information for employees, 401k information for employers">
<title>Discover401k.com  |  Disclosure</title>
<%= stylesheet_link_tag "project" %>
<%= javascript_include_tag "swfobject" %>
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" bordercolor="white">
  <tr>
    <td align="center" valign="middle"><p>&nbsp;</p>
      <p>&nbsp;</p>
      <table width="801" height="100%" border="1" cellpadding="0" cellspacing="0" style="border-style: solid; border-color: white;">
      <tr>
        <td height="98" align="center" valign="middle" nowrap="nowrap" style="border-style: solid; border-color: white;">
						<a href="/home">
							<div id="flash-header">
							</div>
							<script type="text/javascript">
						 var so = new SWFObject("/what_is_discover401k.swf", "discover-movie", "798", "98", "8", "#336699");
						 so.useExpressInstall('expressinstall.swf');
						 so.write("flash-header");
					</script>
				</a>
				</td>
      </tr>
      <tr>
        <td height="23" style="border-style: solid; border-color: white;">
        	&nbsp;
        	<div id="msgs" align="center" class="error">
        	<% if flash[:notice] %>
        		<%= flash[:notice]%>
			    <SCRIPT type="text/javascript">  
			      <%= visual_effect :highlight, 'msgs', :startcolor => "'#ffff00'", :endcolor => "'#ccd5d8'", :duration => 3.0 %>  
			    </SCRIPT>          		
        	<% end %>
        	</div>
        </td>
      </tr>
      <tr>
        <td height="100%" style="border-style: solid; border-color: white;"><table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="white">
          <tr>
            <td>
							<table width="100%" height="100%" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0">
								<tr>
									<td>
										<h2 class="header-text">Discover401K.com Disclosure</h2>
										<p class="trial-style-text">
											<% if @company.disclosure.nil? || @company.disclosure == ""%>
											The courses are available solely for informational purposes and are not a solicitation or offer to buy any security instrument or to participate in any trading strategy.  Situations discussed may not be suitable for your personal situation, even if it is similar to the example presented.  You must make your own decisions based on your specific objectives and circumstances.  It should not be assumed that the recommendations made in the situation achieved any of the goals mentioned.   
											<br/><br/>
											All information is general in nature.  Although some of the material may provide general information about the potential impact of taxes on various investment scenarios and planning, it should be made clear that no legal, tax or financial advice is being rendered.  Please consult your financial consultant or a legal or tax professional for any specific advice.
											<% else %>
												<%= @company.disclosure %> 
											<% end %>
											<br/><br/>
										</p>
										<strong><%= link_to "Return to Company Education", "/home/login/?company_id=" + @company.identifier + "&email=" + params[:email]%></strong> 
										<br/><br/>
									</td>
								</tr>
							</table>
            </td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td style="border-style: solid; border-color: white;" height="31"><table width="100%" height="31" border="0" cellpadding="0" cellspacing="0" bordercolor="white">
          <tr>
            <td align="left" valign="middle"><span class="style2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy;2007 United 401k Plans, Inc.</span></td>
            <td><div align="right">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
