<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<META NAME="Keywords" CONTENT="401k, United 401k Plans, Discover401k, Discover 401k, 401k Education, Retirement, Retirement Help, Retirement Education, 401k information for employees, 401k information for employers">
<title>Discover401k.com  |  Employee Seminars</title>
<%= stylesheet_link_tag "project" %>
<%= javascript_include_tag "swfobject" %>
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" bordercolor="white">
  <tr>
    <td align="center" valign="middle"><p>&nbsp;</p>
      <p>&nbsp;</p>
      <table width="801" height="100%" border="1" cellpadding="0" cellspacing="0" style="border-style: solid; border-color: white;">
      <tr>
        <td height="98" align="center" valign="middle" nowrap="nowrap" style="border-style: solid; border-color: white;">
						<a href="/home">
							<div id="flash-header">
							</div>
							<script type="text/javascript">
						 var so = new SWFObject("/what_is_discover401k.swf", "discover-movie", "798", "98", "8", "#336699");
						 so.useExpressInstall('expressinstall.swf');
						 so.write("flash-header");
					</script>
				</a>
				</td>
      </tr>
      <tr>
        <td height="23" style="border-style: solid; border-color: white;">
        	&nbsp;
        	<div id="msgs" align="center" class="error">
        	<% if flash[:notice] %>
        		<%= flash[:notice]%>
			    <SCRIPT type="text/javascript">  
			      <%= visual_effect :highlight, 'msgs', :startcolor => "'#ffff00'", :endcolor => "'#ccd5d8'", :duration => 3.0 %>  
			    </SCRIPT>          		
        	<% end %>
        	</div>
        </td>
      </tr>
      <tr>
        <td height="100%" style="border-style: solid; border-color: white;"><table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="white">
          <tr>
            <td>
							<table width="100%" height="100%" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0">
								<tr>
									<td>
										<h2 class="header-text">What is Discover401K.com?</h2>
										<p class="trial-style-text">Discover401k.com is an award winning website and participation system born out of hundreds of 
											employee meetings and designed to be practical, behavior changing 401(k) education to participants and plan sponsors.</p>
										<h2 class="header-text">What can Discover401K.com do for employees?</h2>
										<p class="trial-style-text"><strong>Use Discover401k.com to give your employees or clients MORE</strong></p>
										<p class="trial-style-text">
											<strong>M</strong> - Motivation. Discover401k.com’s entertaining structure and real life examples motivate employees to participate.<br/>
											<strong>O</strong> - Opportunity. Discover401k.com’s client specific “On Demand Enrollment Meeting” and attached enrollment forms provides employees with an easy opportunity to participate.<br/>
											<strong>R</strong> - Recognition. Using Discover401k.com and it’s associated logo and animated character creates a brand for your 401(k) plan.  This kind of recognizable brain share has been shown to significantly increase the effectiveness of employee communications and therefore participation.<br/>
											<strong>E</strong> - Education. Education is the answer to the problem.  Once employees understand the basic concepts and rules of a 401(k) plan, they are more likely to participate and more capable of making good contribution, investment and distribution decisions.
										</p>
										<h2 class="header-text">It looks great! How can I get it for my employees or clients?</h2>
										<p class="trial-style-text">We license the use of Discover401k.com and the Discover401k.com participation system which includes Adobe Acrobat Connect webinar capabilities and fully branded materials such as Power Point slides, posters, paycheck stuffers, mouse pads and much more to companies, financial advisors, and third party administrators.  Pricing varies with intended use and size of audience.  Please <a href="/home/trial">contact us</a> and let us help you start giving your employees MORE with Discover401k.com. </p>
									</td>
									<td width="166" bgcolor="#a7b5bd" style="padding: 1px 1px 1px 10px;" align="left" valign="top">
										<br/>
										<p class="free-style-white-text">
											<table class="free-style-white-text">
												<tr>
													<td>&nbsp;</td>
													<td><%= image_tag("/images/eddie_award.gif") %></td>
												</tr>
												<tr>
													<td>
														<%= image_tag("/images/star.gif") %>
													</td>
													<td class="free-style-white-text">
														Winner of a 2006<br/>
														Educational Software<br/>
														Review Award (EDDIE)
													</td>
												</tr>
											</table>
											<br/><br/>
										</p>
										<p class="free-style-white-text">
											Click one of the following buttons to begin your trial
										</p>
										<p>
										<form method="post" action="/home/login">
										<%= hidden_field_tag 'company_id', 'trialer0907' %></p>
										<%= hidden_field_tag 'email', 'trial@trial.com' %></p>
										<%= image_submit_tag("/images/employer_trial.gif") %>
										</form>
										</p>
										<p>
										<form method="post" action="/home/login">
										<%= hidden_field_tag 'company_id', 'trialee0907' %></p>
										<%= hidden_field_tag 'email', 'trial@trial.com' %></p>
										<%= image_submit_tag("/images/employee_trial.gif") %>
										</form>
										</p>
										<br/><br/>
										<a href="/home/trial">Contact Us</a>
									</td>
									<td bgcolor="#a7b5bd" valign="top">
										<%= image_tag("/images/phil_loginsection.gif") %>
									</td>
								</tr>
							</table>
            </td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td style="border-style: solid; border-color: white;" height="31"><table width="100%" height="31" border="0" cellpadding="0" cellspacing="0" bordercolor="white">
          <tr>
            <td align="left" valign="middle"><span class="style2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy;2007 United 401k Plans, Inc.</span></td>
            <td><div align="right">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
