<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<META NAME="Keywords" CONTENT="401k, United 401k Plans, Discover401k, Discover 401k, 401k Education, Retirement, Retirement Help, Retirement Education, 401k information for employees, 401k information for employers">
<title>Discover401k.com  |  401k Education You Can Use</title>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag "swfobject" %>
<%= stylesheet_link_tag "project" %>
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" bordercolor="white">
  <tr>
    <td align="center" valign="middle"><p>&nbsp;</p>
      <p>&nbsp;</p>
      <table width="801" height="100%" border="1" cellpadding="0" cellspacing="0" style="border-style: solid; border-color: white;">
      <tr>
        <td height="98" align="center" valign="middle" nowrap="nowrap" style="border-style: solid; border-color: white;">
        	<a href="/home">
        		<div id="flash-header">
        		</div>
        		<script type="text/javascript">
				   var so = new SWFObject("/what_is_discover401k.swf", "discover-movie", "798", "98", "8", "#336699");
				   so.useExpressInstall('expressinstall.swf');
				   so.write("flash-header");
				</script>
			</a>
        </td>
      </tr>
      <tr>
        <td height="23" style="border-style: solid; border-color: white;">
        	&nbsp;
        	<div id="msgs" align="center" class="error">
        	<% if flash[:notice] %>
        		<%= flash[:notice]%>
			    <SCRIPT type="text/javascript">  
			      <%= visual_effect :highlight, 'msgs', :startcolor => "'#ffff00'", :endcolor => "'#ccd5d8'", :duration => 3.0 %>  
			    </SCRIPT>          		
        	<% end %>
        	</div>
        </td>
      </tr>
      <tr>
        <td height="100%" style="border-style: solid; border-color: white;"><table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="white">
          <tr>
            <td bgcolor="#FFFFFF"><p class="style3"><img src="images/letsfaceit.gif" alt="Let's Face It:" width="93" height="26" /><br />
              <br />
  401(k) plans can be intimidating and hard to understand. Add to that a few hundred IRS rules and you&rsquo;ve got a real problem, especially when solving that problem is the difference between retiring on <strong>your</strong> time schedule or someone else&rsquo;s. </p>
              <p class="style3">Discover401k.com was built to help you succeed at saving for retirement. You can start by learning why 401(k) accounts are such a great place to save and finish by learning about advanced investment portfolio design. The best part is...you&rsquo;ll even enjoy the journey. </p>
              <p class="style3">It has been said that the vision must be followed by the venture.  It is not enough to stare up the steps&mdash;we must step up the stairs (or in our case ride the escalator).  Just login and get going! &gt;&gt;&gt; </p></td>
            <td width="166" bgcolor="#a7b5bd" style="padding: 1px 1px 1px 10px;" align="left"><!--<img src="images/login01.gif" alt="login" name="LoginBelow" width="268" height="117" border="0" id="LoginBelow" /><br /> -->
              <em>Login to get started</em>
              <form method="post" action="/home/login">
              	<label for="company_id" class="style10">Company ID:</label>
              	<%= text_field_tag :company_id, nil, :size => 20 %><br/>
              	<label for="email" class="style10">Email Address:</label>
              	<%= text_field_tag :email, nil, :size => 20 %><br/>
              	<p><%= image_submit_tag("/images/Go_button.gif") %></p>
              </form>
              
              <p class="style4">
              	Not a current subscriber? Want to learn how using discover401k.com can
				benefit your company or your clients? Click here for a free limited access
				trial!
              </p>
           	  <%= link_to image_tag("/images/Free_Trial.gif", :border => 0), {:action => :free}, {:border => "0"} %>
            </td>
            <td bgcolor="#a7b5bd">
            	<%= image_tag("/images/phil_loginsection.gif") %>
            </td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td style="border-style: solid; border-color: white;" height="31"><table width="100%" height="31" border="0" cellpadding="0" cellspacing="0" bordercolor="white">
          <tr>
            <td align="left" valign="middle"><span class="style2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy;2007 United 401k Plans, Inc.</span></td>
            <td><div align="right"><span class="style5"><a href="/home/trial">CONTACT US</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></div></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
