<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<META NAME="Keywords" CONTENT="401k, United 401k Plans, Discover401k, Discover 401k, 401k Education, Retirement, Retirement Help, Retirement Education, 401k information for employees, 401k information for employers">
<title>Discover401k.com  |  Employee Seminars</title>
<%= stylesheet_link_tag "project" %>
<%= javascript_include_tag "swfobject" %>
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" bordercolor="white">
  <tr>
    <td align="center" valign="middle"><p>&nbsp;</p>
      <p>&nbsp;</p>
      <table width="801" height="100%" border="1" cellpadding="0" cellspacing="0" style="border-style: solid; border-color: white;">
      <tr>
        <td height="98" align="center" valign="middle" nowrap="nowrap" style="border-style: solid; border-color: white;">
					<a href="/home">
						<div id="flash-header">
						</div>
						<script type="text/javascript">
					 var so = new SWFObject("/what_is_discover401k.swf", "discover-movie", "798", "98", "8", "#336699");
					 so.useExpressInstall('expressinstall.swf');
					 so.write("flash-header");
						</script>
					</a>
				</td>
      </tr>
      <tr>
        <td height="23" style="border-style: solid; border-color: white;">
        	&nbsp;
        	<div id="msgs" align="center" class="error">
        	<% if flash[:notice] %>
        		<%= flash[:notice]%>
			    <SCRIPT type="text/javascript">  
			      <%= visual_effect :highlight, 'msgs', :startcolor => "'#ffff00'", :endcolor => "'#ccd5d8'", :duration => 3.0 %>  
			    </SCRIPT>          		
        	<% end %>
        	</div>
        </td>
      </tr>
      <tr>
        <td height="100%" style="border-style: solid; border-color: white;"><table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="white">
          <tr>
            <td bgcolor="#a7b5bd" style="padding: 1px 1px 1px 10px; text-align: left;">
							<p>
								Thank you for your interest in Discover401k.com.  According to a study done for the Social Security Administration in 2001, “the most important determinant of participation [in a 401k plan] is employer-provided educational material”.  The result is even more impressive when you consider that they compared results with things like increased match and shortened vesting schedules.  Our experience has indicated that this conclusion is accurate.
							</p>
							<p>
								At Discover401k.com we say that we have “401k education, you can use”.  If you have questions regarding the use of Discover401k.com with your employees or clients, or if you have comments or questions about the courses or content, please feel free to contact us.  We would love to hear from you.
							</p>
							<p>
								Thank you for taking time to Discover 401(k)s.
							</p>
							<p>
								Jere El-Bakri AAMS, CRPS<br/>
								President<br/>
								United 401(k) Plans, Inc<br/>
								<a href="mailto:Jere@discover401k.com">Jere@discover401k.com</a><br/>
								888-486-8167
							</p>
							<p>
								Paul Wadsworth<br/>
								COO<br/>
								United 401(k) Plans, Inc<br/>
								<a href="mailto:Paul@discover401k.com">Paul@discover401k.com</a><br/>
								888-486-8167
							</p>
							<p>
								Corland Felts<br/>
								VP Sales<br/>
								United 401(k) Plans, Inc<br/>
								<a href="mailto:Corland@discover401k.com">Corland@discover401k.com</a><br/>
								888-486-8167
							</p>
							<p>
								Jennifer Simonich<br/>
								Client Service Manager<br/>
								United 401(k) Plans, Inc<br/>
								<a href="mailto:Jennifer@discover401k.com">Jennifer@discover401k.com</a><br/>
								888-486-8167
							</p>
            </td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td style="border-style: solid; border-color: white;" height="31"><table width="100%" height="31" border="0" cellpadding="0" cellspacing="0" bordercolor="white">
          <tr>
            <td align="left" valign="middle"><span class="style2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy;2007 United 401k Plans, Inc.</span></td>
            <td><div align="right">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
