<%= error_messages_for 'company_client' %>

<!--[form:company_client]-->
<p>
	<label for="company_client_company_id">Company</label><br/>
	<%= select_tag "company_id", options_from_collection_for_select(@companies, 'id', 'name', @company_client.company.id) %>
</p>
<p><label for="company_client_client_id">Client ID:</label><br/>
<%= text_field 'company_client', 'client_id'  %></p>
<!--[eoform:company_client]-->

