<div class="admin-section">
	<h1>Listing Companies and Their Clients</h1>
	<table id="search-fields" border="1" width="100%">
	  <tr>
	    <th>Company</th>
	    <th>Client</th>
	    <th colspan="3">Actions</th>
	  </tr>
  
	<% for company_client in @company_clients %>
	  <tr>
	    <td><%= company_client.company.name %></td>
	    <td><%= company_client.client_id %></td>
	    <td><%= link_to 'Documents', :action => 'show', :id => company_client %></td>
	    <td><%= link_to 'Edit', :action => 'edit', :id => company_client %></td>
	    <td><%= link_to 'Delete', { :action => 'destroy', :id => company_client }, :confirm => 'Are you sure?', :method => :post %></td>
	  </tr>
	<% end %>
	</table>

	<%= link_to 'Previous page', { :page => @company_client_pages.current.previous } if @company_client_pages.current.previous %>
	<%= link_to 'Next page', { :page => @company_client_pages.current.next } if @company_client_pages.current.next %> 

	<br />

	<%= link_to 'New Client', :action => 'new' %>
</div>