<div class="admin-section">
	<h1>Client</h1>
	<p>
	  <b>Company Name:</b> <%= @company_client.company.name %>
	</p>
	<p>
	  <b>Client ID:</b> <%= @company_client.client_id %>
	</p>
</div>
<div style="clear:both;"/>
<div class="admin-section">
	<h1>Client Documents</h1>
	<table id="search-fields" border="1" width="100%">
	  <tr>
	    <th>Doc. Name</th>
	    <th colspan="3">Actions</th>
	  </tr>
  
	<% for cd in @company_client.client_documents %>
	  <tr>
	    <td><%= cd.doc_name %></td>
	    <td><%= link_to 'Delete', { :controller => 'client_documents', :action => 'destroy', :id => cd }, :confirm => 'Are you sure?', :method => :post %></td>
	  </tr>
	<% end %>
	</table>

	<br />

	<%= link_to 'New Document', :controller => 'client_documents', :action => 'new', :id => @company_client %>
	<%= link_to 'Back', :action => 'list' %>
</div>

