<% form_remote_tag :url => '/planning_class/add_class' do -%>
<%= hidden_field_tag 'page', params[:page] %>

<div id="buttons">
	<input type="button" class="admin-button2" value="Class Info" onclick="showClassesTab();"/>
	<span style="margin-left: 60px; text-align:right;"><%= submit_tag 'Submit' %>&nbsp;&nbsp;<input type="button" onclick="$j('#class_edit').jqm().hide()" value="Cancel"/></span>
</div>
<div id="edit_comp_class_tab" style="overflow:scroll;height:400px;">
	<h3>401k Class Management:</h3>
	<p><label for="admin_name">Internal NAME:</label><br/>
	<%= text_field_tag 'admin_name', @planning_class.admin_name %></p>
	
	<p><label for="class_name">Class NAME:</label><br/>
	<%= text_field_tag 'class_name', @planning_class.class_name %></p>
	
	<p><label for="class_url">Class URL:</label><br/>
	<%= text_field_tag 'class_url', @planning_class.class_url %></p>
	
	<p><label for="spanish_class_url">Spanish Class URL:</label><br/>
	<%= text_field_tag 'spanish_class_url', @planning_class.spanish_class_url %></p>
	
	<p><label for="default_class_flag">Is this a default class?:</label><br/>
	<%= check_box_tag 'default_class_flag', @planning_class.default_class_flag, checked = @planning_class.default_class_flag %></p>
	
	<p><label for="eddy_award">Is this class an "Eddy Award" class?:</label><br/>
	<%= check_box_tag 'eddy_award', @planning_class.eddy_award, checked = @planning_class.eddy_award %></p>
	
	<p><label for="free_trial_flag">Free Trial Class?:</label><br/>
	<%= check_box_tag 'free_trial_flag', @planning_class.free_trial_flag, checked = @planning_class.free_trial_flag %></p>
	
	<p><label for="display_in_bold">Display this class in Bold?:</label><br/>
	<%= check_box_tag 'display_in_bold', @planning_class.display_in_bold, checked = @planning_class.display_in_bold %></p>
	
	<p><label for="display_sequence">Display Sequence:</label><br/>
	<%= text_field_tag 'display_sequence', @planning_class.display_sequence %></p>
	
	<p><label for="section">List Under Page Section:</label><br/>
	<%= radio_button_tag :section, "401(k) Plan Administration", @planning_class.section %>401(k) Plan Administration <br/>
	<%= radio_button_tag :section, "Getting Started - 401(k) Basics", @planning_class.section %>Getting Started - 401(k) Basics <br/>
	<%= radio_button_tag :section, "Managing your 401(k) Account", @planning_class.section %>Managing your 401(k) Account <br/>
	
	<p><label for="section">List Under Header in Section:</label><br/>
	<%= radio_button_tag :header, "Getting Started:", @planning_class.header %>Getting Started:<br/>
	<%= radio_button_tag :header, "401(k) Basics:", @planning_class.header %>401(k) Basics: <br/>
	<%= radio_button_tag :header, "401(k) Account Withdrawals", @planning_class.header %>401(k) Account Withdrawals<br/>
	
	<%= hidden_field_tag 'pcid', @planning_class.id %></p>
</div>
<% end -%>
