This is a message generated from discover401k.com website.

Company: <%= @company %> <br/>
Name: <%= @name %> <br/>
Email: <%= @email %> <br/>
Phone: <%= @phone %> <br/>
Message: <%= @message %> <br/>
