<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<META NAME="Keywords" CONTENT="401k, United 401k Plans, Discover401k, Discover 401k, 401k Education, Retirement, Retirement Help, Retirement Education, 401k information for employees, 401k information for employers">
<title><%= @company.company_url %> |  401k Education You Can Use</title>
<%= javascript_include_tag :defaults %>
<%= stylesheet_link_tag "project" %>
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" bordercolor="white">
  <tr>
    <td align="center" valign="middle"><p>&nbsp;</p>
      <p>&nbsp;</p>
      <table width="801" height="100%" border="1" cellpadding="0" cellspacing="0" style="border-style: solid; border-color: white;">
      <tr>
        <td height="98" align="center" valign="middle" style="border-style: solid; border-color: white;">
        	<a href="/peo">
				<img src="/peo/get_company_logo/<%=@company.id-%>" border="0" id="peo-header"/>
			</a>
        </td>
      </tr>
      <tr>
        <td height="23" style="border-style: solid; border-color: white;">
        	&nbsp;
        	<div id="msgs" align="center" class="error">
        	<% if flash[:notice] %>
        		<%= flash[:notice]%>
			    <SCRIPT type="text/javascript">  
			      <%= visual_effect :highlight, 'msgs', :startcolor => "'#ffff00'", :endcolor => "'#ccd5d8'", :duration => 3.0 %>  
			    </SCRIPT>          		
        	<% end %>
        	</div>
        </td>
      </tr>
      <tr>
        <td height="100%" style="border-style: solid; border-color: white;"><table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="white">
          <tr>
            <td bgcolor="#FFFFFF"><p class="style3"><img src="images/letsfaceit.gif" alt="Let's Face It:" width="93" height="26" /><br />
              <br />
  401(k) plans can be intimidating and hard to understand. Add to that a few hundred IRS rules and you&rsquo;ve got a real problem, especially when solving that problem is the difference between retiring on <strong>your</strong> time schedule or someone else&rsquo;s. </p>
              <p class="style3">We want to help you succeed at saving for retirement. You can start by learning why 401(k) accounts are such a great place to save and finish by learning about advanced investment portfolio design. The best part is...you&rsquo;ll even enjoy the journey. </p>
              <p class="style3">It has been said that the vision must be followed by the venture.  It is not enough to stare up the steps&mdash;we must step up the stairs (or in our case ride the escalator).  Just login and get going! &gt;&gt;&gt; </p></td>
            <form method="post" action="/peo/login">
            <td width="166" bgcolor="#a7b5bd" style="padding: 1px 1px 1px 10px;" align="left"><!--<img src="images/login01.gif" alt="login" name="LoginBelow" width="268" height="117" border="0" id="LoginBelow" /><br /> -->
              <em>Login to get started</em>
              	<label for="email" class="style10">Email Address:</label>
              	<%= text_field_tag :email, nil, :size => 20 %><br/>
				<% if @company.company_clients.size > 0 %>
	              	<label for="email" class="style10">Client ID:</label>
	              	<%= text_field_tag :client_id, nil, :size => 20 %><br/>
				<% end %>
              	<p><%= image_submit_tag("/images/Go_button.gif") %></p>
				<%= hidden_field_tag 'company_id', flash[:company_id] %></p>
              
              <p class="style4">
				<table cellpadding="0" cellspacing="0">
					<tr>
						<td valign="top">
							<%= check_box_tag 'contact_me', '', checked = true %>
						</td>
						<td class="style4_1" style="padding-left:3px">
              				Please include me in future retirement planning and 401(k)educational
							updates.
						</td>
					</tr>
				</table>
              </p>
            </td>
            <td bgcolor="#a7b5bd">
            	<%= image_tag("/images/phil_loginsection.gif") %>
            </td>
        	</form>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td style="border-style: solid; border-color: white;" height="31"><table width="100%" height="31" border="0" cellpadding="0" cellspacing="0" bordercolor="white">
          <tr>
            <td align="left" valign="middle"><span class="style2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy;2008 United 401k Plans, Inc.</span></td>
            <td>
				<div align="right">
					<span class="style5">
						<a href="/peo/disclosure?company_id=<%= @company.id -%>&email=none"  style="font-size:14px;"><strong>Disclosure</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/peo/privacy?company_id=<%= @company.id -%>">Privacy Policy</a>&nbsp;&nbsp;&nbsp;&nbsp;<span class="style5"><a href="/peo/terms?company_id=<%= @company.id -%>">Terms &amp; Conditions</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
					</span>
				</div>
			</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
