<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<META NAME="Keywords" CONTENT="401k, United 401k Plans, Discover401k, Discover 401k, 401k Education, Retirement, Retirement Help, Retirement Education, 401k information for employees, 401k information for employers">
<title><%= @company.company_url %> |  Employee Seminars</title>
<%= stylesheet_link_tag "project" %>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag "jquery" %>
<%= javascript_include_tag "jqModal" %>
<%= javascript_include_tag "swfobject" %>
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" >
  <tr>
    <td align="center" valign="middle"><p>&nbsp;</p>
      <p>&nbsp;</p>
      <table class="white-table" width="801" height="90%" cellpadding="0" cellspacing="0">
      <tr>
        <td height="68" align="left" valign="middle" bgcolor="#a7b5bd">
        	<a href="/peo">
				<img src="/peo/get_company_logo/<%=@company.id-%>" border="0" id="peo-header"/>
			</a>
		</td>
      </tr>
      <tr>
        <td height="23">&nbsp;</td>
      </tr>
      <tr>
        <td height="320"><table width="100%" height="320" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td bgcolor="#FFFFFF"><p class="style3"><br />
              Whether you are new at investing or have been around for a while, you may have questions about saving for retirement.  The courses listed below were designed to deliver useful, hopefully life changing retirement education.  We know you&rsquo;re busy so we kept them short (most under 5 minutes) and independent.  We like to say that we offer &ldquo;Education You Can Use&rdquo; and we mean it.  So ask yourself: <span class="style12"><br />
              <br />
              What do I want to learn today?</span> </p>
              <br />
              <div align="left" title="section_header">
                <table class="inner-white-table" width="100%" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="100%" colspan="2" height="30" align="center" valign="middle" bgcolor="#a5c352"><span class="style8">General 401(k) Education Courses
                    </span></td>
                  </tr>
                 
                  <tr>
                    <td width="50%" valign="top">
                    	<p class="style9">
                    		<strong>Getting Started:</strong> <br />
													<ul class="list-style">
	                        <% for clz in @classes %>
	                        	<% if clz.section == 'Getting Started - 401(k) Basics' %>
	                        		<% if clz.header == 'Getting Started:' %>
	                        			<li> 
																	<% if clz.eddy_award? %>
																		<%= image_tag("/images/lil_phil.gif") %>
																	<% end %>
																	<span> 
																	<% if clz.display_in_bold? %><strong><% end %>
																	<% if !@company.free_trial_flag? || (@company.free_trial_flag? && clz.free_trial_flag?) %>
																		<%= link_to clz.class_name, clz.class_url, :target => "_blank" %>
																		<% if !clz.spanish_class_url.nil?  &&  clz.spanish_class_url != "" %>&nbsp;(<%= link_to 'Español', clz.spanish_class_url, :target => "_blank" %>)<% end %>
																	<% else %>
																		<%= clz.class_name %>
																	<% end %>
																	<% if clz.display_in_bold? %></strong><% end %>
																	</span>
																 </li>
			                        <% end %> 
		                        <% end %> 
	                        <% end %>
													</ul>
                      </p>
											<p class="style9">
                      		<strong><!-- How to Enroll in Your 401(k) Plan: --></strong><br />
													<ul class="list-style">
	                        <% for clz in @classes %>
														<% if clz.section == 'Getting Started - 401(k) Basics' %>
															<% if clz.header == '401(k) Basics:' %>
																<li> 
																	<% if clz.eddy_award? %>
																		<%= image_tag("/images/lil_phil.gif") %>
																	<% end %> 
																	<% if clz.display_in_bold? %><strong><% end %>
																	<% if !@company.free_trial_flag? || (@company.free_trial_flag? && clz.free_trial_flag?) %>
																		<%= link_to clz.class_name, clz.class_url, :target => "_blank" %>
																		<% if !clz.spanish_class_url.nil?  &&  clz.spanish_class_url != "" %>&nbsp;(<%= link_to 'Español', clz.spanish_class_url, :target => "_blank" %>)<% end %>
																	<% else %>
																		<%= clz.class_name %>
																	<% end %>
																	<% if clz.display_in_bold? %></strong><% end %>
																 </li>
															<% end %> 
														<% end %>
	                        <% end %>
													</ul> 
                        </p>                      
                    </td>
                    <td width="50%" valign="top">
                    	<p class="style9">
											<ul class="list-style">
													<% for clz in @classes %>
														<% if clz.section == 'Managing your 401(k) Account' %>
															<% if clz.header != '401(k) Account Withdrawals' %>
																<li> 
																	<% if clz.eddy_award? %>
																		<%= image_tag("/images/lil_phil.gif") %>
																	<% end %> 
																	<% if clz.display_in_bold? %><strong><% end %>
																	<% if !@company.free_trial_flag? || (@company.free_trial_flag? && clz.free_trial_flag?) %>
																		<%= link_to clz.class_name, clz.class_url, :target => "_blank" %>
																		<% if !clz.spanish_class_url.nil?  &&  clz.spanish_class_url != "" %>&nbsp;(<%= link_to 'Español', clz.spanish_class_url, :target => "_blank" %>)<% end %>
																	<% else %>
																		<%= clz.class_name %>
																	<% end %>
																	<% if clz.display_in_bold? %></strong><% end %>
																 </li>
															<% end %> 
														<% end %> 
													<% end %>
													</ul>
											</p>
											<p class="style9">
	                      	<strong>401(k) Account Withdrawals: English</strong> <br />
													<ul class="list-style">
													<% for clz in @classes %>
														<% if clz.section == 'Managing your 401(k) Account' %>
															<% if clz.header == '401(k) Account Withdrawals' %>
																<li> 
																	<% if clz.eddy_award? %>
																		<%= image_tag("/images/lil_phil.gif") %>
																	<% end %> 
																	<% if clz.display_in_bold? %><strong><% end %>
																	<% if !@company.free_trial_flag? || (@company.free_trial_flag? && clz.free_trial_flag?) %>
																		<%= link_to clz.class_name, clz.class_url, :target => "_blank" %>
																	<% else %>
																		<%= clz.class_name %>
																	<% end %>
																	<% if clz.display_in_bold? %></strong><% end %>
																 </li>
															<% end %> 
														<% end %> 
													<% end %>
													</ul>
                        </p>                      
											<p class="style9">
	                      	<strong>401(k) Account Withdrawals: Español</strong> <br />
													<ul class="list-style">
													<% for clz in @classes %>
														<% if clz.section == 'Managing your 401(k) Account' %>
															<% if clz.header == '401(k) Account Withdrawals' && !clz.spanish_class_url.nil? &&  clz.spanish_class_url != "" %>
																<li> 
																	<% if clz.eddy_award? %>
																		<%= image_tag("/images/lil_phil.gif") %>
																	<% end %> 
																	<% if clz.display_in_bold? %><strong><% end %>
																	<% if !@company.free_trial_flag? || (@company.free_trial_flag? && clz.free_trial_flag?) %>
																		<%= link_to clz.class_name + " (español)", clz.spanish_class_url, :target => "_blank" %>
																	<% else %>
																		<%= clz.class_name %>
																	<% end %>
																	<% if clz.display_in_bold? %></strong><% end %>
																 </li>
															<% end %> 
														<% end %> 
													<% end %>
													</ul>
                        </p>                      
                    </td>
                  </tr>
				   <tr>
                    <td colspan="2" valign="top">&nbsp;</td>
                    </tr>
                </table>
              </div>
              <hr align="center" size="1" noshade="noshade" class="style10" />              
              <p class="style3"><br />
                <span class="style11">Most of the courses are multimedia presentations and require speakers to function properly.  &ldquo;Enrolling in a 401(k)&rdquo; requires that you have flash and that you disable your pop-up blocker. </span><br />
                <br />
              </p></td>
            <td width="268" valign="top" nowrap="nowrap" bgcolor="#a7b5bd"><div align="center"><img src="/images/toolbox.gif" alt="401(k) toolbox" width="268" height="149" /><br />
              <br />
            </div>
              <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="center" valign="middle"><div align="center"><span class="style3"><a href="/calc/Retire401k.html" target="_blank">401(k) Calculator</a></span></div></td>
                </tr>
                <tr>
                  <td align="center" valign="middle"><img src="/images/white_1x1.gif" width="268" height="1" /></td>
                </tr>
                <tr>
                  <td align="center" valign="middle"><span class="style3"><a href="/calc/AssetAllocator.html" target="_blank">Asset Allocator Caculator</a></span></td>
                </tr>
                <tr>
                  <td align="center" valign="middle"><img src="/images/white_1x1.gif" width="268" height="1" /></td>
                </tr>
                <tr>
                   <td align="center" valign="middle"><span class="style3"><a href="/calc/Compare401k2.html" target="_blank">Roth vs. Traditional Caculator</a></span></td>
                </tr>
                <tr>
                  <td>&nbsp;<br/></td>
                </tr>
                <tr>
                  <td><div align="center"><span class="style8"><strong>Links</strong></span></div></td>
                </tr>
                <% for link in @company.links %>
	                <tr>
	                  <td>
	                  	<div align="center">
	                  		<span class="style3">
								&bull; <%= link_to link.link_name, link.url, {:target => :_blank} %>
	                  		</span>
	                  	</div>
	                  </td>
	                </tr>
				<% end %>
                <tr>
                  <td>&nbsp;<br/></td>
                </tr>
                <tr>
                  <td><div align="center"><span class="style8"><strong>Forms &amp; Information</strong></span></div></td>
                </tr>
                <% for pdf in @company.pdf_docs %>
		                <tr>
		                  <td>
		                  	<div align="center">
		                  		<span class="style3">
									&bull; <%= link_to pdf.pdf_name, "/peo/get_pdf/" + pdf.id.to_s, {:target => :_blank} %>
		                  		</span>
		                  	</div>
		                  </td>
		                </tr>
				<% end %>
                <tr>
                  <td>&nbsp;<br/></td>
                </tr>
                <tr>
                  <td><div align="center"><span class="style8"><strong>Documents</strong></span></div></td>
                </tr>
                <% for cd in @client_documents %>
		                <tr>
		                  <td>
		                  	<div align="center">
		                  		<span class="style3">
									&bull; <%= link_to cd.doc_name, "/peo/get_client_doc/" + cd.id.to_s, {:target => :_blank} %>
		                  		</span>
		                  	</div>
		                  </td>
		                </tr>
				<% end %>
                <tr>
                  <td>&nbsp;<br/></td>
                </tr>
                <tr>
                  <td height="100%">&nbsp;</td>
                </tr>
              </table>
							</td>
          </tr>
        </table>
				</td>
      </tr>
      <tr>
        <td>
					<table width="100%" height="31" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="left" valign="middle"><span class="style2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy;2008 United 401k Plans, Inc.</span></td>
            <td><div align="right">
						<span class="style5">
							<a href="/peo/disclosure?company_id=<%= @company.id -%>&email=<%=params[:email] -%>"  style="font-size:14px;"><strong>Disclosure</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;<span class="style5"><a href="/peo/privacy?company_id=<%= @company.id -%>&email=<%=params[:email] -%>&logged_in=true" style="font-size:14px;">Privacy Policy</a></span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="style5"><a href="/peo/terms?company_id=<%= @company.id -%>&email=<%=params[:email] -%>&logged_in=true" style="font-size:14px;">Terms &amp; Conditions</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>&nbsp;&nbsp;&nbsp;&nbsp;
						</span></div></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>

<script type="text/javascript">
		//<![CDATA[
		$().ready(function() {
			$('#disc').jqm()
			})
		//]]>
	</script>

</body>
</html>
