<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<META NAME="Keywords" CONTENT="401k, United 401k Plans, Discover401k, Discover 401k, 401k Education, Retirement, Retirement Help, Retirement Education, 401k information for employees, 401k information for employers">
<title><%= @company.company_url %> |  Privacy Policy</title>
<%= stylesheet_link_tag "project" %>
<%= javascript_include_tag "swfobject" %>
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" bordercolor="white">
  <tr>
    <td align="center" valign="middle"><p>&nbsp;</p>
      <p>&nbsp;</p>
      <table width="801" height="100%" border="1" cellpadding="0" cellspacing="0" style="border-style: solid; border-color: white;">
      <tr>
        <td height="98" align="center" valign="middle" style="border-style: solid; border-color: white;">
        	<a href="/peo">
				<img src="/images/united_privacy_header.jpg" border="0" id="peo-header"/>
			</a>
		</td>
      </tr>
      <tr>
        <td height="23" style="border-style: solid; border-color: white;">
        	&nbsp;
        	<div id="msgs" align="center" class="error">
        	<% if flash[:notice] %>
        		<%= flash[:notice]%>
			    <SCRIPT type="text/javascript">  
			      <%= visual_effect :highlight, 'msgs', :startcolor => "'#ffff00'", :endcolor => "'#ccd5d8'", :duration => 3.0 %>  
			    </SCRIPT>          		
        	<% end %>
        	</div>
        </td>
      </tr>
      <tr>
        <td height="100%" style="border-style: solid; border-color: white;"><table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="white">
          <tr>
            <td>
							<table width="100%" height="100%" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0">
								<tr>
									<td>
											<strong class="trial-style-text"><%= link_to "Return to Home", "/peo" %></strong>
											<br/>
											<% if !params[:logged_in].nil? %>
											<strong class="trial-style-text"><%= link_to "Return to Company Education", "/peo/login/?company_id=" + @company.identifier + "&email=" + params[:email]%></strong>  
											<% end %>
										<br/><br/>
										<h2 class="header-text">Website Privacy Policy Statement</h2>
										<h3 class="header-text">UNITED 401K PLANS, INC.</h3>
										<h3 class="header-text"><%= @company.company_url %></h3>
										
										<p class="trial-style-text">
											This document was last updated on February 11, 2008. 
											<br/>
											<br/>
											<strong>1. Acknowledgement and acceptance of terms </strong>
											<br/>
											<br/>
											UNITED 401K PLANS, INC. is committed to protecting your privacy. This Privacy Statement sets forth our current privacy practices with regard to the information we collect when you or your computer interact with our website.  By accessing <%= @company.company_url %>, you acknowledge and fully understand UNITED 401K PLANS, INC’s Privacy Statement and freely consent to the information collection and use practices described in this Website Privacy Statement. 
											<br/>
											<br/>
											<strong>2. Participating Merchant Policies </strong>
											<br/>
											<br/>
											Related services and offerings with links from this website, including vendor sites, have their own privacy statements that can be viewed by clicking on the corresponding links within each respective website. Online merchants and others who participate in UNITED 401K PLANS, INC. services are encouraged to participate in industry privacy initiatives and to take a responsible attitude towards consumer privacy.  However, since we do not have direct control over the policies or practices of participating merchants and other third parties, we are not responsible for the privacy practices or contents of those sites. We recommend and encourage that you always review the privacy policies of merchants and other third parties before you provide any personal information or complete any transaction with such parties.
											<br/>
											<br/>
											<strong>3. Information We Collect and How We Use It</strong>
											<br/>
											<br/>
											UNITED 401K PLANS, INC. collects certain information from and about its users three ways: directly from our Web Server logs, the user, and with Cookies.
											<br/>
											<br/>
											   <strong>1. Web Server Logs.</strong>
											<br/>
											<br/>
											      When you visit our Website, we may track information to administer the site and analyze its usage. Examples of information we may track include: 
												<br/>
											<br/>
												<ul>
											    <li> Your Internet protocol address.</li>
											    <li> The kind of browser or computer you use.</li>
											    <li> Number of links you click within the site.</li>
											    <li> State or country from which you accessed the site.</li>
											    <li> Date and time of your visit.</li>
											    <li> Name of your Internet service provider.</li>
											    <li> Web page you linked to our site from.</li>
											    <li> Pages you viewed on the site.</li>

												</ul>
											</p>
											<p class="trial-style-text">
											<br/>
											   <strong>b. Use of Cookies </strong>
											<br/>
											<br/>
											UNITED 401K PLANS, INC. may use cookies to personalize or enhance your user experience.  A cookie is a small text file that is placed on your hard disk by a Web page server.  Cookies cannot be used to run programs or deliver viruses to your computer.  Cookies are uniquely assigned to you, and can only be read by a Web Server in the domain that issued the cookie to you.   
											<br/>
											<br/>
											One of the primary purposes of cookies is to provide a convenience feature to save you time.  For example, if you personalize a web page, or navigate within a site, a cookie helps the site to recall your specific information on subsequent visits.  Hence, this simplifies the process of delivering relevant content and eases site navigation by providing and saving your preferences and login information as well as providing personalized functionality..   
											<br/>
											<br/>
											UNITED 401K PLANS, INC. reserves the right to share aggregated site statistics with partner companies, but does not allow other companies to place cookies on our website unless there is a temporary, overriding customer value (such as merging into <%= @company.company_url %> a site that relies on third-party cookies). 
											<br/>
											<br/>
											You have the ability to accept or decline cookies.  Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies. If you reject cookies by changing your browser settings then be aware that this may disable some of the functionality on our Website. 
											<br/>
											<br/>
											   <strong>3. Personal Information Users</strong>
											<br/>
											<br/>


											Visitors to our website can register to purchase services.  When you register, we will request some personal information such as name, address, email, telephone number or facsimile number, account number and other relevant information.  If you are purchasing a service, we will request financial information.  Any financial information we collect is used only to bill you for the services you purchased.  If you purchase by credit card, this information may be forwarded to your credit card provider. For other types of registrations, we will ask for the relevant information. You may also be asked to disclose personal information to us so that we can provide assistance and information to you. For example, such data may be warranted in order to provide online technical support and troubleshooting. 
											<br/>
											<br/>
											We will not disclose personally identifiable information we collect from you to third parties without your permission except to the extent necessary including: 
											<br/>
											<br/>
												<ul>
											    <li> To fulfill your service requests for services.</li>
											    <li> To protect ourselves from liability,</li>
											    <li> To respond to legal process or comply with law, or</li>
											    <li> In connection with a merger, acquisition, or liquidation of the company.</li>
												</ul>

											</p>
											<p class="trial-style-text">
											<br/>
											<strong>4. Use of Web Beacons or GIF files</strong>
											<br/>
											<br/>
											<%= @company.company_url %> Web pages may contain electronic images known as Web beacons – sometimes also called single-pixel gifs – that allow UNITED 401K PLANS, INC. to count users who have visited those pages and to deliver co-branded services.  UNITED 401K PLANS, INC. may include Web beacons in promotional e-mail messages or newsletters in order to determine whether messages have been opened and acted upon. 
											<br/>
											<br/>
											Some of these Web beacons may be placed by third party service providers to help determine the effectiveness of our advertising campaigns or email communications.  These Web beacons may be used by these service providers to place a persistent cookie on your computer.  This allows the service provider to recognize your computer each time you visit certain pages or emails and compile anonymous information in relation to those page views, which in turn enables us and our service providers to learn which advertisements and emails bring you to our website and how you use the site.  UNITED 401K PLANS, INC. prohibits Web beacons from being used to collect or access your personal information. 
											<br/>
											<br/>
											<strong>5. Accessing Web Account Information</strong>
											<br/>
											<br/>
											We will provide you with the means to ensure that personally identifiable information in your web account file is correct and current.  
											<br/>
											<br/>
											<strong>6. Changes to this Statement</strong>
											<br/>
											<br/>
											UNITED 401K PLANS, INC. has the discretion to occasionally update this privacy statement.  When we do, we will also revise the “updated” date at the top of this Privacy page.  We encourage you to periodically review this privacy statement to stay informed about how we are helping to protect the personal information we collect.  Your continued use of the service constitutes your agreement to this privacy statement and any updates. 
											<br/>
											<br/>
											<strong>7. Contacting Us</strong>
											<br/>
											<br/>
											If you have questions regarding our Privacy Statement, its implementation, failure to adhere to this Privacy Statement and/or our general practices, please contact us or send your comments to : 
											<br/>
											<br/>
											UNITED 401K PLANS, INC.
											<br/>
											Attention:  Privacy Statement Personnel – <%= @company.company_url %>
											<br/>
											510 South 200 West
											<br/>
											Salt Lake City, Utah 84101
											<br/>
											UNITED 401K PLANS, INC. will use commercially reasonable efforts to promptly respond and resolve any problem or question.
											<br/><br/>
											<strong><%= link_to "Return to Home", "/peo" %></strong>
											<br/>
											<% if !params[:logged_in].nil? %>
											<strong><%= link_to "Return to Company Education", "/peo/login/?company_id=" + @company.identifier + "&email=" + params[:email]%></strong>  
											<% end %>
										</p>
										<br/><br/>
									</td>
								</tr>
							</table>
            </td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td style="border-style: solid; border-color: white;" height="31"><table width="100%" height="31" border="0" cellpadding="0" cellspacing="0" bordercolor="white">
          <tr>
            <td align="left" valign="middle"><span class="style2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy;2008 United 401k Plans, Inc.</span></td>
            <td><div align="right">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
