<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<META NAME="Keywords" CONTENT="401k, United 401k Plans, Discover401k, Discover 401k, 401k Education, Retirement, Retirement Help, Retirement Education, 401k information for employees, 401k information for employers">
<title><%= @company.company_url %> |  Terms and Conditions</title>
<%= stylesheet_link_tag "project" %>
<%= javascript_include_tag "swfobject" %>
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" bordercolor="white">
  <tr>
    <td align="center" valign="middle"><p>&nbsp;</p>
      <p>&nbsp;</p>
      <table width="801" height="100%" border="1" cellpadding="0" cellspacing="0" style="border-style: solid; border-color: white;">
      <tr>
        <td height="98" align="center" valign="middle" style="border-style: solid; border-color: white;">
        	<a href="/peo">
				<img src="/images/united_terms_header.jpg" border="0" id="peo-header"/>
			</a>
		</td>
      </tr>
      <tr>
        <td height="23" style="border-style: solid; border-color: white;">
        	&nbsp;
        	<div id="msgs" align="center" class="error">
        	<% if flash[:notice] %>
        		<%= flash[:notice]%>
			    <SCRIPT type="text/javascript">  
			      <%= visual_effect :highlight, 'msgs', :startcolor => "'#ffff00'", :endcolor => "'#ccd5d8'", :duration => 3.0 %>  
			    </SCRIPT>          		
        	<% end %>
        	</div>
        </td>
      </tr>
      <tr>
        <td height="100%" style="border-style: solid; border-color: white;"><table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="white">
          <tr>
            <td>
							<table width="100%" height="100%" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0">
								<tr>
									<td>
											<strong class="trial-style-text"><%= link_to "Return to Home", "/peo" %></strong>
											<br/>
											<% if !params[:logged_in].nil? %>
											<strong class="trial-style-text"><%= link_to "Return to Company Education", "/peo/login/?company_id=" + @company.identifier + "&email=" + params[:email]%></strong>  
											<% end %>
										<br/><br/>
										<h2 class="header-text">Terms of Use Agreement</h2>
										<h3 class="header-text">UNITED 401K PLANS, INC.</h3>
										<h3 class="header-text"><%= @company.company_url %></h3>
										<h3 class="header-non-ital-text">Read This Terms of Use Agreement Before Accessing Website.</h3>
										
										<p class="trial-style-text">
											Effective Date:  This Terms of Use Agreement was last updated on February 11, 2008. 
											<br/>
											<br/>
											This Terms of Use Agreement sets forth the standards of use of the UNITED 401K PLANS, INC. Online Service. By using the DISCOVER401K.COM™ website you (the “Member”) agree to these terms and conditions. If you do not agree to the terms and conditions of this agreement, you should immediately cease all usage of this website. We reserve the right, at any time, to modify, alter, or update the terms and conditions of this agreement without prior notice. Modifications shall become effective immediately upon being posted at the DISCOVER401K.COM™ website.  Your continued use of the Service after amendments are posted constitutes an acknowledgement and acceptance of the Agreement and its modifications. Except as provided in this paragraph, this Agreement may not be amended.  
											<br/>
											<br/>
											<strong>1. Description of Service</strong>
											<br/>
											<br/>
											UNITED 401K PLANS, INC. is providing Member with the use and access to information provided on the DISCOVER401K.COM™ website. Member must provide (1) all equipment necessary for their own Internet connection, including computer and modem and (2) provide for Member’s access to the Internet, and (3) pay any fees relate with such connection.
											<br/>
											<br/>
											<strong>2. Disclaimer of Warranties</strong>
											<br/>
											<br/>
											The site is provided by UNITED 401K PLANS, INC. on an “as is” and on an “as available” basis.  To the fullest extent permitted by applicable law, UNITED 401K PLANS, INC. makes no representations or warranties of any kind, express or implied, regarding the use or the results of this web site in terms of its correctness, accuracy, reliability, or otherwise.  UNITED 401K PLANS, INC. shall have no liability for any interruptions in the use of this Website.  UNITED 401K PLANS, INC disclaims all warranties with regard to the information provided, including the implied warranties of merchantability and fitness for a particular purpose, and non-infringement.  Some jurisdictions do not allow the exclusion of implied warranties; therefore the above-referenced exclusion is inapplicable. 
											<br/>
											<br/>
											   <strong>3. Limitation of Liability</strong>
											<br/>
											<br/>
											UNITED 401K PLANS, INC. SHALL NOT be liable for any damages whatsoever, and in particular UNITED 401K PLANS, INC. shall not be liable for any special, indirect, consequential, or incidental damages, or damages for lost profits, loss of revenue, or loss of use, arising out of or related to this web site or the information contained in it, whether such damages arise in contract, negligence, tort, under statute, in equity, at law, or otherwise, even if [Insert Name of Company] has been advised of the possibility of such damages. SOME JURISDICTIONS DO NOT ALLOW FOR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, THEREFORE SOME OF THE ABOVE LIMITATIONS IS INAPPLICABLE. 
											<br/>
											<br/>
											   <strong>4. Indemnification</strong>
											<br/>
											<br/>
											Member agrees to indemnify and hold UNITED 401K PLANS, INC, its parents, subsidiaries, affiliates, officers and employees, harmless from any claim or demand, including reasonable attorneys’ fees and costs, made by any third party due to or arising out of Member’s use of the Service, the violation of this Agreement, or infringement by Member, or other user of the Service using Member’s computer, of any intellectual property or any other right of any person or entity. 
											<br/>
											<br/>
											   <strong>5. Modifications and Interruption to Service</strong>
											<br/>
											<br/>
											UNITED 401K PLANS, INC reserves the right to modify or discontinue the Service with or without notice to the Member. UNITED 401K PLANS, INC. shall not be liable to Member or any third party should UNITED 401K PLANS, INC exercise its right to modify or discontinue the Service. Member acknowledges and accepts that UNITED 401K PLANS, INC does not guarantee continuous, uninterrupted or secure access to our website and operation of our website may be interfered with or adversely affected by numerous factors or circumstances outside of our control.
											<br/>
											<br/>
											   <strong>6. Third-Party Sites</strong>
											<br/>
											<br/>
											DISCOVER401K.COM™ website may include links to other sites on the Internet that are owned and operated by online merchants and other third parties.  You acknowledge that we are not responsible for the availability of, or the content located on or through, any third-party site.  You should contact the site administrator or webmaster for those third-party sites if you have any concerns regarding such links or the content located on such sites.  Your use of those third-party sites is subject to the terms of use and privacy policies of each site, and we are not responsible therein. We encourage all Members to review said privacy policies of third-parties’ sites.
											<br/>
											<br/>
											   <strong>7. Disclaimer Regarding Accuracy of Vendor Information</strong>
											<br/>
											<br/>
											Product specifications and other information have either been provided by the Vendors or collected from publicly available sources.  While UNITED 401K PLANS, INC. makes every effort to ensure that the information on this website is accurate, we can make no representations or warranties as to the accuracy or reliability of any information provided on this website.
											<br/>
											<br/>
											UNITED 401K PLANS, INC. makes no warranties or representations whatsoever with regard to any product provided or offered by any Vendor, and you acknowledge that any reliance on representations and warranties provided by any Vendor shall be at your own risk. 
											<br/>
											<br/>
											   <strong>8. Governing Jurisdiction of the Courts UTAH</strong>
											<br/>
											<br/>
											Our website is operated and provided in the State of UTAH.  As such, we are subject to the laws of the State UTAH, and such laws will govern this Terms of Use, without giving effect to any choice of law rules.  We make no representation that our website or other services are appropriate, legal or available for use in other locations.  Accordingly, if you choose to access our site you agree to do so subject to the internal laws of the State UTAH.
											<br/>
											<br/>
											   <strong>9. Compliance with Laws</strong>
											<br/>
											<br/>
											Member assumes all knowledge of applicable law and is responsible for compliance with any such laws.  Member may not use the Service in any way that violates applicable state, federal, or international laws, regulations or other government requirements. Member further agrees not to transmit any material that encourages conduct that could constitute a criminal offense, give rise to civil liability or otherwise violate any applicable local, state, national, or international law or regulation. 
											<br/>
											<br/>
											   <strong>10. Copyright and Trademark Information</strong>
											<br/>
											<br/>
											All content included or available on this site, including site design, text, graphics, interfaces, and the selection and arrangements thereof is ©2008 UNITED 401K PLANS, INC, with all rights reserved, or is the property of UNITED 401K PLANS, INC. and/or third parties protected by intellectual property rights. Any use of materials on the website, including reproduction for purposes other than those noted above, modification, distribution, or replication, any form of data extraction or data mining, or other commercial exploitation of any kind, without prior written permission of an authorized officer of UNITED 401K PLANS, INC is strictly prohibited.  Members agree that they will not use any robot, spider, or other automatic device, or manual process to monitor or copy our web pages or the content contained therein without prior written permission of an authorized officer of UNITED 401K PLANS, INC.
											<br/>
											<br/>
											UNITED 401K PLANS, INC and DISCOVER401K.COM™ are proprietary marks of UNITED 401K PLANS, INC.  UNITED 401K PLANS, INC.’s trademarks may not be used in connection with any product or service that is not provided by UNITED 401K PLANS, INC, in any manner that is likely to cause confusion among customers, or in any manner that disparages or discredits UNITED 401K PLANS, INC.
											<br/>
											<br/>
											All other trademarks displayed on the DISCOVER401K.COM™ website are the trademarks of their respective owners, and constitute neither an endorsement nor a recommendation of those Vendors.  In addition, such use of trademarks or links to the web sites of Vendors is not intended to imply, directly or indirectly, that those Vendors endorse or have any affiliation with UNITED 401K PLANS, INC. 
											<br/>
											<br/>
											   <strong>11. Notification of Claimed Copyright Infringement</strong>
											<br/>
											<br/>
											Pursuant to Section 512(c) of the Copyright Revision Act, as enacted through the Digital Millennium Copyright Act, UNITED 401K PLANS, INC designates the following individual as its agent for receipt of notifications of claimed copyright infringement.
											<br/>
											<br/>
											By Mail
											<br/>
											Jere El-bakri
											<br/>
											510 South 200 West
											<br/>
											Salt Lake City, Utah 84101 
											<br/>
											<br/>
											By Telephone: 1-888-486-8167 
											<br/>
											<br/>
											By Email: jere@discover401k.com 
											<br/>
											<br/>
											   <strong>12. Botnets</strong>
											<br/>
											<br/>
											UNITED 401K PLANS, INC retains the right, at our sole discretion, to terminate any accounts involved with botnets and related activities. If any hostnames are used as command and control points for botnets, UNITED 401K PLANS, INC reserves the right to direct the involved hostnames to a honeypot, loopback address, logging facility, or any other destination at our discretion. 
											<br/>
											<br/>
											   <strong>13. Other Terms</strong>
											<br/>
											<br/>
											If any provision of this Terms of Use Agreement shall be unlawful, void or unenforceable for any reason, the other provisions (and any partially-enforceable provision) shall not be affected thereby and shall remain valid and enforceable to the maximum possible extent.  You agree that this Terms of Use Agreement and any other agreements referenced herein may be assigned by UNITED 401K PLANS, INC, in our sole discretion, to a third party in the event of a merger or acquisition.  This Terms of Use Agreement shall apply in addition to, and shall not be superseded by, any other written agreement between us in relation to your participation as a Member.  Member agrees that by accepting this Terms of Use Agreement, Member is consenting to the use and disclosure of their personally identifiable information and other practices described in our Privacy Policy Statement
											<br/>
											<br/>
											<strong><%= link_to "Return to Home", "/peo" %></strong>
											<br/>
											<% if !params[:logged_in].nil? %>
											<strong><%= link_to "Return to Company Education", "/peo/login/?company_id=" + @company.identifier + "&email=" + params[:email]%></strong>  
											<% end %>
										</p>
										<br/><br/>
									</td>
								</tr>
							</table>
            </td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td style="border-style: solid; border-color: white;" height="31"><table width="100%" height="31" border="0" cellpadding="0" cellspacing="0" bordercolor="white">
          <tr>
            <td align="left" valign="middle"><span class="style2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy;2009 United 401k Plans, Inc.</span></td>
            <td><div align="right">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
