	<% form_for :company, :url => {:controller => 'company', :action => 'add_company'}, 
		:html => { :multipart => true} do |form| -%>
	<div id="buttons">
		<input type="button" class="admin-button2" value="Company Info" onclick="showCompTab();"/>
		<input type="button" class="admin-button2" value="Classes Info" onclick="showClassesTab();"/>
		<input type="button" class="admin-button2" value="Documents Info" onclick="showDocTab();"/>
		<input type="button" class="admin-button2" value="Links" onclick="showLinkTab();"/>
		<span style="margin-left: 60px; text-align:right;"><%= submit_tag 'Submit' %>&nbsp;&nbsp;<input type="button" onclick="$j('#company_edit').jqm().hide()" value="Cancel"/></span>
	</div>
	<div id="edit_company_tab" style="overflow:scroll;height:400px;">
		<h3>Add/Edit Company:</h3>
		<p><label for="company_name">Company NAME:</label><br/>
		<%= form.text_field :name, :size => '40' %></p>
		
		<p><label for="company_id">Company ID:</label><br/>
		<%= form.text_field :identifier, :size => '40' %></p>
		
		<p><label for="company_id">Company URL:</label><br/>
		<%= form.text_field :company_url, :size => '40' %></p>

		<p><label for="peo_username">PEO Username:</label><br/>
		<%= form.text_field :peo_username, :size => '40' %></p>

		<p><label for="peo_password">PEO Password:</label><br/>
		<%= form.password_field :peo_password, :size => '40' %></p>

		<p><label for="employee_flag">Employee?:</label><br/>
		<%= form.check_box :employee_flag, {}, true, false %></p>
	
		<p><label for="free_trial_flag">Free Trial ID?:</label><br/>
		<%= form.check_box :free_trial_flag, {}, true, false %></p>
	
		<p><label for="company_id">On Demand Enrollment <br/>Meeting Override URL:</label><br/>
		<%= form.text_field :override_on_demand_url, :size => '80' %></p>
	
		<p><label for="disclosure">Override Disclosure:</label><br/>
		<%= form.text_area :disclosure, {:cols => 80, :rows => 4 } %></p>

		<p><label for="uploaded_file">Company Logo File:</label><br/>
		<%= form.file_field 'uploaded_file' %></p>
		<%= form.hidden_field :id %></p>
	
	</div>
	<div id="edit_comp_class_tab" style="display:none;overflow:scroll;height:400px;">
		<table>
			<tr>
				<th>Selected</th>
				<th>Class Name</th>
				<th>Internal Name</th>
				<th>Class URL</th>
			</tr>
			<% @all_classes.each do |pc| %>
				<tr>
					<td><%= check_box_tag "company_edit[class_ids][]", pc.id, @company.planning_classes.include?(pc) %></td>
					<td><%= pc.class_name %></td>
					<td><%= pc.admin_name %></td>
					<td><%= pc.class_url %></td>
				</tr>
			<% end %>
		</table>
	</div>
	<div id="edit_comp_doc_tab" style="display:none;overflow:scroll;height:400px;">
	<table>
		<tr>
			<th>Selected</th>
			<th>Doc Name</th>
			<th>Type</th>
		</tr>
		<% @all_docs.each do |pdf| %>
			<tr>
			<td><%= check_box_tag "company_edit[pdf_ids][]", pdf.id, @company.pdf_docs.include?(pdf) %></td>
				<td><%= pdf.pdf_name %></td>
				<td><%= pdf.doc_type %></td>
			</tr>
		<% end %>
	</table>
	</div>
	<div id="edit_comp_link_tab" style="display:none;overflow:scroll;height:400px;">
	<table>
		<tr>
			<th>Selected</th>
			<th>Link Name</th>
			<th>Link URL</th>
		</tr>
		<% @all_links.each do |link| %>
			<tr>
			<td><%= check_box_tag "company_edit[link_ids][]", link.id, @company.links.include?(link) %></td>
				<td><%= link.link_name %></td>
				<td><%= link.url %></td>
			</tr>
		<% end %>
	</table>
	</div>
	<% end -%>
	