<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>CompanyClients: <%= controller.action_name %></title>
	<%= javascript_include_tag :defaults %>
	<%= stylesheet_link_tag "project" %>
	<%= javascript_include_tag "jquery" %>
	<%= javascript_include_tag "jqModal" %>
	<script type="text/javascript">
	//<![CDATA[
	var $j = jQuery.noConflict();
	//]]>
	</script>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>
